body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(233, 199, 199);
  
}

nav{

display: flex;
width: 700px;
height: 70px;
left: 0px;
top: 0px;


background: #FFFFFF;
box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav--logo{
position: absolute;
width: 82.02px;
height: 25.35px;
left: 30px;
top: 22px;

}
section{
  padding: 100px;
}
.hero{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 232px;
  left: 77px;
  top: 96px;
  align-self: center;
}
.hero--header{
margin-bottom: 16px;
width: 347px;
height: 40px;
left: 36px;
top: 360px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 110%;

/* identical to box height, or 40px */

color: #000000;
}
.hero--text{
  margin-top: 0;
}
.card{ 
 position: relative;
 flex: 0 0 auto;
 flex-direction: column;
 display: inline-flex;
 width: 176px;
 font-size: 12px;
 margin-left: 20px;
 
}
.card--image{
width: 176px;
height: 235px;
margin-bottom: 9px;
border-radius: 9px;

}
.card-stats{
  display: flex;
  align-items: center;
  
   
}
.card--star{
  margin-top: 5px;
  width: 14px;
  height: 14px;
  
}
.ratings{
  font-weight: bold;
  padding-left: 2px;
}
.reviews{
  padding-left: 2px;

}
.country{
  font-weight: bold;
}
.card--title{
  overflow: hidden;
  text-overflow: ellipsis;
}
.card--price{
  font-weight: bold;
}
.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  border-radius: 2px;
  padding: 5px 7px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 10.24px;
  text-align: center;
}

